<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Corsi formazione{% endblock title %}</title>
</head>
<body>
    {% block content %}
    <h1>Benvenuto nel sistema di gestione dei Corsi di Formazione</h1>
    <ul>
      <li><a href="{% url 'corsi_formazione:view_a' %}">Lista dei Corsi</a></li>
      <li><a href="{% url 'corsi_formazione:view_b' %}">Dettagli dei Corsi</a></li>
      <li><a href="{% url 'corsi_formazione:view_c' %}">Corsi che iniziano dopo il 01/05/2025</a></li>
      <li><a href="{% url 'corsi_formazione:view_d' %}">Corsi con meno di 20 posti disponibili</a></li>
      <li><a href="{% url 'corsi_formazione:view_e' %}">Corsi che terminano entro il 30/04/2025</a></li>
      <li><a href="{% url 'corsi_formazione:view_f' %}">Statistiche Avanzate sui Corsi</a></li>
    </ul>
    <hr>
    {% endblock content %}
</body>
</html>
